<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="theme-color" content="#23e056">
  <meta property="og:title" content="<%=file%>">
  <meta property="og:image" content="../Images/<%=file%>">
</head>
<body>
<img src="../Images/<%=file%>">
</body>
</html>