<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta property="theme-color" content="#23e056">
	<meta property="og:title" content="<%=file%>">
	<meta name="twitter:card" content="summary_large_image">
	<meta id="discord" name="twitter:image" content="/Images/<%=file%>">
	<meta id="image-src" name="twitter:image:src" content="/Images/<%=file%>">

</head>

<body>
	<img src="/Images/<%=file%>">
</body>

</html>